[all]

[all:children]
webservers
appservers

[webservers]
qkits1 ansible_host=127.0.0.1
[appservers]
qkits_app_1 ansible_host=127.0.0.1

[all:vars]
ansible_connection=winrm
ansible_port=5986
ansible_password=password
ansible_user=root
ansible_winrm_server_cert_validation=ignor